/* Fonts */
@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Regular Az.woff') format('woff');
}
@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro ExtraLight Az.woff') format('woff');
}
@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro UltraLight Az.woff') format('woff');
}
@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Light Az.woff') format('woff');
}
@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Medium Az.woff') format('woff');
}
@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Semi Bold Az.woff') format('woff');
}
@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Bold Az.woff') format('woff');
}
@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Sofia Pro'), url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Black Az.woff') format('woff');
}

html {
    scroll-behavior: smooth;
    color: white;
    z-index: -1;
}

div {
    display: block;
}

header {
    height: 100px;
    display: block;
}

#opening_page {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 1250px;
}

.nav_items {
    display: flex;
    flex-direction: row;
}

#logo_img {
    width: 50px;
    height: auto;

    margin-top: 25px;
    margin-left: 50px;
    position: fixed;

    z-index: 1;

    opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

#navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0%;

    z-index: 1;

    opacity: 1;
	animation-name: fadeInTop;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.nav_options {
    color:white;
    text-decoration: none;

    margin-top: 25px;
    margin-right: 55px;

    font-family: 'Sofia Pro', sans-serif;
    font-weight: 800;
    font-size: 19px;

    transition: .3s linear, box-shadow .15s linear 0s;
    background-size: 0%;
    background-position: 0 0.75em;
}

.nav_options:hover {
    cursor: pointer;
    background-size: 100%;
    background-image: linear-gradient(to right, #628DB2, #71BFF8,#3AA16D); 
    background-repeat: no-repeat;  
}

/* Beginning */


#beginning{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

#middle, #info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    align-self:center;
    /* margin-left: 25%; */
}

#end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    margin: auto;
    z-index: -1;

}

#info {
    width: 500px;
    margin: auto;
    overflow: wrap;
}

.left, .right {
    margin: 10px;
    width: 50%;
    height: 400px;
}

.right {
    padding-left: 20px;
}
#jeffPFP {
    /* position:absolute; */
    float:right;
    min-width: 350px;
    max-width: auto;
    max-height: 100%;
    box-shadow: rgba(98, 141, 178, 0.4) -5px 5px, rgba(98, 141, 178, 0.3) -10px 10px, rgba(98, 141, 178, 0.2) -15px 15px, rgba(98, 141, 178, 0.1) -20px 20px, rgba(98, 141, 178, 0.05) -25px 25px;
}

#eecs {
    transition: 1s;
    font-weight: bold;
    color: #003262 ;
    text-decoration: none; 
}

#eecs:hover {
    cursor: pointer;
    color: #FDB515 ;
}

#intro{
    position: relative;
    min-width: 500px;
    max-width: 650px;
    margin-bottom: 32px;
    padding-bottom: 32px;

    color: white;

    opacity: 1;
	animation-name: fadeInLeft;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

h1 {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;
    margin-top: 10px;
}

h2 {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
}

h3 {
    color: #628DB2;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-top: 7px;
}

h5 {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 7px;
}

h6 {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 7px;
}

/* Content for I am... */
.content {
    position: absolute;
    /* display: block; */
    z-index: 0;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow:hidden;

    /* margin-top: 370px; */
    margin-left: 250px;
    
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
}
    
.content__container {
      font-weight: 600;
      overflow: hidden;
      height: 40px;
      padding: 0 40px;
}

.content__container::before {
    content: '[';
    left: 0;
}

.content__container:after {
    content: ']';
    position: absolute;
    right: 0;
}

.content__container:after, .content__container:before {
    position: absolute;
    top: 0;

    color: #628DB2;
    font-size: 42px;
    line-height: 40px;

    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__container__list {
    margin-top: 0;
    padding-left: 98px;
    text-align: left;
    list-style: none;

    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} 
.content__container__list__item {
    line-height:40px;
    margin:0;
}
      
    
@-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}

@-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
    }

@-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);} 
}

@-moz-keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}

@keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}


/* Middle */

.grid-container {
    align-items: center;
    text-align: center;

    /* width: 100%; */
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 20%;
  padding-right: 20%;
  grid-column: 3;
    
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
}

#my_work {
    text-align: center;
    width: 100%;
}

.pic {
    width: 350px;
}

input
{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    z-index: 10000;
    color: black;
}

form {
    text-align: center;
}

label {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

button {
    /* width: 200px; */
    text-align: center;
    /* margin-left: 48.5%; */
    height: 50px;
    display:inline-block;
    z-index: 10000;
}

.button:hover {
    opacity: 60%;
    cursor: pointer;
}

#jokeBox {
    margin: auto;
    text-align: center;
}

#joke {
    padding: 50px;
}